body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
{
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
}
em,
i {
    font-style: normal;
}
strong {
    font-weight: normal;
}
ul,
ol,
dl {
    list-style-type: none;
}
select,
input,
img,
select {
    vertical-align: middle;
}
input {
    font-size: 1.6rem;
    outline: none;
}
html {
    font-size: 62.5%;
}
/*公共样式*/
.pageWrap {
	overflow: hidden;
}
.scrollPage {
	padding-top: 5rem;
}
/*基础样式*/
.clearfix:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}
.clearfix {
    zoom: 1;
}