/*--顶部搜索-start--*/
.searchGroup {
	padding: 0;
	line-height: 5rem;
	height: 5rem;
}
.searchGroup .mui-icon {
	padding: 0;
	margin: 0;
	line-height: 5rem;
}
/*--顶部搜索-end--*/
/*--列表类型-strat--*/
.listType {
	background-color: #f7f7f7;
}
.listType span {
	display: inline-block;
	padding: 1.2rem 0;
}
.listType span:nth-child(4) em {
	font-size: 1.6rem;
	padding-left: .4rem;
}
/*--列表类型-end--*/
/*--列表内容-start--*/
.listWrap {
	top: 9rem;
}
.listUl {
	padding: 1rem;
	overflow: hidden;
}
.listUl li {
	margin-bottom: 1.5rem;
	overflow: hidden;
}
.productImg {
	display: block;
	width: 10rem;
	height: 10rem;
	float: left;
}
.productMsg {
	float: right;
	width: 21.5rem;
	height: 11.5rem;
	padding-bottom:1.5rem;
	border-bottom: .1rem solid #ccc;
}
.productTit {
	/*line-height: ;*/
	font-size: 1.7rem;
	height: 3.5rem;
	overflow: hidden;
}
.PriceWrap {
	font-size: 1.8rem;
	margin-top: 2.6rem;
	margin-bottom: .4rem;
	color: #ff3d05;
}
.PriceWrap span:nth-child(2){
	font-size: 1.4rem;
	margin-right: 1rem;
}
.PriceWrap span:nth-child(3){
	color: #fff;
	background-color: #ff3d05;
	font-size: 1.6rem;
	padding: .2rem;
}
.commentNum,.goodComment {
	color: #000;
	margin-right: 1rem;
}
/*--列表内容-end--*/