body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    color: #fff;
    font: 14px "Microsoft YaHei";
}
ul, ol {
    list-style-type: none;
}
select, input, img, select {
    vertical-align: middle;
}
input {
    font-size: 12px;
    outline: none;
}
a {
    text-decoration: none;
    color: #fff;
    outline: none;
}
a:hover {
    color: #fff;
    text-decoration: none;
}
.clear {
    clear: both;
}
img {
    display: block;
    width: 100%;
}
html {
    font-size: 625%;
}

/*================start============*/
.container {
    width: 100%;
    overflow: hidden;
    background-color: #07921f;
}
.banner {
    width: 100%;
    margin: 0 auto;
}
.wrap {
    width: 1280px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin-top: -163px;
    padding-bottom: 150px;
}
.turnPlate {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.turnPlate .left {
    float: left;
    width: 670px;
    overflow: hidden;
    position: relative;
}
.item {
    position: absolute;
    left: 150px;
    top: 58px;
}
.pointer {
    position: absolute;
    left: 295px;
    top: 176px;
    width: 134px;
    height: 160px;
}
.turnPlate .right {
    float: right;
    width: 540px;
    overflow: hidden;
}
.right h2 {
    font-size: 36px;
    letter-spacing: 2px;
    padding: 110px 0 40px;
}
.right table {
    width: 100%;
    overflow: hidden;
    border: 1px solid #fff;
    border-collapse: collapse;
}
.right td {
    height: 73px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #fff;
}
.activity {
    width: 100%;
    margin-top: 120px;
    overflow: hidden;
}
.activity h2,.rule dt {
    font: bold 36px "微软雅黑";
    padding-bottom: 30px;
    letter-spacing: 2px;
}
.rule dt { padding-bottom: 25px; }
.rule dd {
    font-size: 24px;
    line-height: 60px;
}
.rule dd p {
    padding-left: 110px;
}
.frog {
    width: 200px;
    height: 234px;
    position: absolute;
    right: 0;
    bottom: 15px;
    z-index: 100;
}


