<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>page</title>
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
<div id="app">
    <nav>
        <ul class="pagination pagination-lg">
            <template v-for="page in pages ">
                <li v-if="page==1" class="disabled"><a href="#">上一页</a></li>
                <li v-if="page==1" class="active"><a href="#">{{page}}</a></li>
                <li v-else><a href="#">{{page}}</a></li>
                <li v-if="page==pages"><a href="#">下一页</a></li>
            </template>
        </ul>
    </nav>
</div>

</body>
</html>
<script src="vue/vue.js"></script>
<script type="text/javascript">
    //ViewModel
    var vue = new Vue({
        el: '#app',
        data: {
            pages: 10
        }
    });
</script>